.shipy-icon {
  margin-right: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.remove-margin-right {
  margin-right: 0;
}

a[mat-stroked-button] {
  &:not(:last-of-type) {
    margin-right: 1rem;
  }
  .remove-margin-right {
    margin-right: 0;
  }
}
