.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.shipy-icon {
  margin-right: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.remove-margin,
.mat-icon.remove-margin {
  margin: 0;
}

a[mat-stroked-button] {
  margin-right: 1rem;
  .remove-margin-right {
    margin-right: 0;
  }
}
