$primary: (
  50: #e3f6f3,
  100: #b9e7e0,
  200: #8ad8cb,
  300: #5bc8b6,
  400: #38bca7,
  500: #15b097,
  600: #12a98f,
  700: #0fa084,
  800: #0c977a,
  900: #068769,
  A100: #b4ffeb,
  A200: #81ffdd,
  A400: #4effd0,
  A700: #35ffc9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$accent: (
  50: #ffefea,
  100: #fed6cb,
  200: #febba9,
  300: #fda087,
  400: #fc8b6d,
  500: #fc7753,
  600: #fc6f4c,
  700: #fb6442,
  800: #fb5a39,
  900: #fa4729,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffd7d1,
  A700: #ffc1b8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn: (
  50: #f2e1e0,
  100: #e0b3b3,
  200: #cb8180,
  300: #b64e4d,
  400: #a62826,
  500: #960200,
  600: #8e0200,
  700: #830100,
  800: #790100,
  900: #680100,
  A100: #ff9797,
  A200: #ff6464,
  A400: #ff3131,
  A700: #ff1818,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
