@use '@angular/material' as mat;

$config: mat.m2-define-typography-config(
  $font-family: '"Source Sans 3", sans-serif',
  $headline-1:
    mat.m2-define-typography-level(
      4rem,
      4rem,
      300,
      '"Inknut Antiqua", serif',
      -0.05em
    ),
  $headline-2:
    mat.m2-define-typography-level(
      3.5rem,
      3.5rem,
      500,
      '"Inknut Antiqua", serif',
      -0.02em
    ),
  $headline-3:
    mat.m2-define-typography-level(
      2.875rem,
      1.176,
      700,
      '"Inknut Antiqua", serif',
      -0.005em
    ),
  $headline-4:
    mat.m2-define-typography-level(2.125rem, 1.176, 300, '"Inknut Antiqua", serif'),
  $headline-5:
    mat.m2-define-typography-level(2.875rem, 1.176, 700, '"Inknut Antiqua", serif'),
  $headline-6:
    mat.m2-define-typography-level(2rem, 1.333, 700, '"Inknut Antiqua", serif'),
  $subtitle-1:
    mat.m2-define-typography-level(1.25rem, 1.333, 600, '"Inknut Antiqua", serif'),
  $subtitle-2:
    mat.m2-define-typography-level(1rem, 1.333, 500, '"Inknut Antiqua", serif'),
  $body-1: mat.m2-define-typography-level(1.125rem, 1.429, 400),
  $body-2: mat.m2-define-typography-level(1rem, 1.429, 500),
  $caption: mat.m2-define-typography-level(0.875rem, 1.666, 400),
  $button: mat.m2-define-typography-level(1rem, 1, 400, '"Inknut Antiqua", serif'),
);
