html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /*font-family: 'Source Sans 3', sans-serif;*/
}

router-outlet + *:has(.app-sidenav-container) {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
   `<body>` to be our scrolling element for mobile layouts. */
.app-is-mobile router-outlet + *:has(.app-sidenav-container) {
  flex: 1 0 auto;
}

.page-content {
  margin: 0 auto;
  max-width: 1440px;
}
@media (min-width: 1025px) {
  .page-content {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 1024px) {
  .page-content {
    padding-left: 16px;
    padding-right: 16px;
  }
}
