@use '@angular/material' as mat;
@use './palette';
@use './typography';
@use '../app/app-theme' as appTheme;

@include mat.core();

$app-primary: mat.define-palette(palette.$primary);
$app-accent: mat.define-palette(palette.$accent);
$app-warn: mat.define-palette(palette.$warn);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
    typography: typography.$config,
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
    typography: typography.$config,
  )
);

@include mat.typography-hierarchy(typography.$config);
@include mat.all-component-themes($light-theme);
@include appTheme.theme($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include appTheme.theme($dark-theme);
}
